<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>ru.agladky.todoist.overdue</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>A574F7DB-546B-4E7F-B3F3-11B13523AACD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DD80F2E2-F32E-4D1E-B336-441D635319F8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DD80F2E2-F32E-4D1E-B336-441D635319F8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FDAB9858-D842-4565-9A00-50EBABD8D81D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DFBDA400-F4BD-40B8-85E2-9C32884A49D8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>55FAE88F-B839-465D-88C5-7E38E69E3C60</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FDAB9858-D842-4565-9A00-50EBABD8D81D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DFBDA400-F4BD-40B8-85E2-9C32884A49D8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Anatoly Gladky</string>
	<key>description</key>
	<string>Moves all overdue tasks to today</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Todoist overdue to today</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Todoist overdue to today</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>55FAE88F-B839-465D-88C5-7E38E69E3C60</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>tot</string>
				<key>subtext</key>
				<string>Moves all overdue tasks to today</string>
				<key>text</key>
				<string>Todoist overdue to today</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>DD80F2E2-F32E-4D1E-B336-441D635319F8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>/usr/bin/python todoist_overdue.py -t $token</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>DFBDA400-F4BD-40B8-85E2-9C32884A49D8</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>hotkey</key>
				<integer>17</integer>
				<key>hotmod</key>
				<integer>655360</integer>
				<key>hotstring</key>
				<string>T</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>A574F7DB-546B-4E7F-B3F3-11B13523AACD</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>variables</key>
				<dict>
					<key>token</key>
					<string></string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>FDAB9858-D842-4565-9A00-50EBABD8D81D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>
	</string>
	<key>uidata</key>
	<dict>
		<key>55FAE88F-B839-465D-88C5-7E38E69E3C60</key>
		<dict>
			<key>xpos</key>
			<integer>800</integer>
			<key>ypos</key>
			<integer>110</integer>
		</dict>
		<key>A574F7DB-546B-4E7F-B3F3-11B13523AACD</key>
		<dict>
			<key>xpos</key>
			<integer>70</integer>
			<key>ypos</key>
			<integer>110</integer>
		</dict>
		<key>DD80F2E2-F32E-4D1E-B336-441D635319F8</key>
		<dict>
			<key>xpos</key>
			<integer>270</integer>
			<key>ypos</key>
			<integer>110</integer>
		</dict>
		<key>DFBDA400-F4BD-40B8-85E2-9C32884A49D8</key>
		<dict>
			<key>xpos</key>
			<integer>580</integer>
			<key>ypos</key>
			<integer>110</integer>
		</dict>
		<key>FDAB9858-D842-4565-9A00-50EBABD8D81D</key>
		<dict>
			<key>colorindex</key>
			<integer>6</integer>
			<key>note</key>
			<string>Insert you token in "Value" field.
Get it from "Todoist settings" -&gt; "Account" -&gt; "API token".</string>
			<key>xpos</key>
			<integer>470</integer>
			<key>ypos</key>
			<integer>270</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://github.com/agladky/todoist-overdue-alfred</string>
</dict>
</plist>
